html
    head
        title = title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='css/main.css',rel='stylesheet')
    body
        
        each emb in embedded
        h1 วัน #{emb.day} เดือน #{emb.month} ปี #{emb.year}
        h1 เวลา #{emb.hour} : #{emb.minute}
        h1 อุณหภูมิ #{emb.temperature} 
        h1 ความชื้น #{emb.humidity}
script(type='text/javascript',src='/lib/angular/angular.min.js')