html
    head
        title = title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='css/main.css',rel='stylesheet')
    body
        
        each emb in embedded
            ul 
                li #{emb.year}
                li #{emb.month}
                li #{emb.day}
                li #{emb.temperature}
                li #{emb.humidity}

script(type='text/javascript',src='/lib/angular/angular.min.js')